@import "../../../vars.scss";

.wallets {
  width: 300px;
  @include mainSectionSize;
  &__wrap {
    width: 160px;
    @include flexWebKit;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  &__main {
    margin: 25px 0;
    padding-bottom: 20px;
    @include flexWebKit;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #f3f5f9;
  }
  &__second {
    @include flexWebKit;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__second,
  &__main {
    & h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #868c90;
    }
    &-summ {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #2a3135;
    }
  }
}

@media screen and (max-width: 640px) {
  .wallets {
    margin-top: 8vw;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    &__wrap {
      width: 90%;
    }
    &__img {
      margin-right: 20px;
    }
  }
}
