@import "../../vars.scss";

.module {
  max-width: 1296px;
  margin: 8vw auto 0;
  margin-top: 10px;
  @include flexWebKit;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .module {
    max-width: 700px;
    flex-wrap: wrap;
    margin: 8vw auto 0;
  }
}

@media screen and (max-width: 640px) {
  .module {
    margin-top: 0;
    @include flexDirectionWebKit;
    align-items: center;
  }
}
