@import "../../../vars.scss";

.operations__transaction .dashboardItem__span {
  width: 130px;
  word-wrap: break-word;
}

.dashboardItem {
  &__settings {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-item {
      display: inline-block;
      cursor: pointer;
      width: 130px;
      height: 20px;
      border-radius: 10px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 20px;
      color: black;
      font-size: 15px;
      background: rgba(38, 222, 129, 0.5);
      @include transitionWebKitDuration;
      &:hover {
        background: rgba(38, 222, 129, 1);
      }
    }
  }
}
