@import "../../vars.scss";

.header {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 2px 8px rgba(134, 140, 144, 0.05);
  border-radius: 24px;
  padding: 0 72px;
  &-wrap {
    max-width: 1296px;
    min-height: 88px;
    margin: 0 auto;
    @include flexWebKit;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &-list {
    @include flexWebKit;

  }
  &__link-logo,
  &__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    padding: 27px 0;
    display: inline-block;
    color: #868c90;
    margin-left: 48px;
    &-logo {
      color: #f2911b;
      margin-right: 24px;
      margin-left: 0;
      & img {
        margin-right: 16px;
        margin-bottom: -5px;
      }
    }
  }
  &__link {
    @include transitionWebKitDuration;
    border-bottom: 3px solid #fff;
    &:hover {
      color: #2a3135;
      border-bottom: 3px solid #f2911b;
    }
  }
}

.user-menu {
  width: 140px;
  height: 30px;
  @include flexWebKit;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.mobile {
  position: absolute;
  margin: 0 auto;
  padding: 20px;
  @include transitionWebKitDuration;
  border-radius: 20px;
  z-index: 20;
  top: -200px;
  right: 0;
  opacity: 0;
  &__active {
    top: 89px;
    right: 145px;
    opacity: 0.95;
    background-color: #f2911b;
  }
  &__link {
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
  }
}

@media screen and (max-width: 970px) {
  .nav__link {
    display: none;
  }
  .header {
    padding: 0 20px;
  }
  .mobile {
    &__active {
      right: 20px;
    }
  }
}
