@import "../../../vars.scss";

.rates {
  position: relative;
  width: 300px;
  @include mainSectionSize;
  &__list {
    @include flexWebKit;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__article-wrap {
    @include flexWebKit;
    align-items: center;
    & span {
      color: #dce0e2;
    }
  }
  &__article-button {
    background-color: white;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
}

.rates__dropdown {
  position: absolute;
  width: 50px;
  left: 145px;
  border: 1px solid #dce0e2;
  border-radius: 5px;
  z-index: 10;
  background-color: white;
  @include flexWebKit;
  @include flexDirectionWebKit;
  align-items: center;
  & span {
    color: black;
    display: block;
    cursor: pointer;
    margin: 8px;
  }
}

@media screen and (max-width: 1150px) {
  .rates {
    order: 1;
  }
}

@media screen and (max-width: 640px) {
  .rates {
    width: 90%;
    margin-top: 8vw;
    margin-left: 0;
    margin-right: 0;
  }
}
