.rates {
  position: relative;
  width: 300px;
  height: 325px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(134, 140, 144, 0.05);
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
  margin: 10px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__article-wrap {
    display: flex;
    align-items: center;
    & span {
      color: #dce0e2;
    }
  }
  &__article-button {
    background-color: white;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
}

.rates__dropdown {
  position: absolute;
  width: 50px;
  left: 145px;
  border: 1px solid #dce0e2;
  border-radius: 5px;
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  & span {
    color: black;
    display: block;
    cursor: pointer;
    margin: 8px;
  }
}

@media screen and (max-width: 1150px) {
  .rates {
    order: 1;
  }
}

@media screen and (max-width: 640px) {
  .rates {
    width: 90%;
    margin-top: 8vw;
    margin-left: 0;
    margin-right: 0;
  }
}
